:root {
--custom-color-Cogeb:#fff;
--custom-color-wRNVm:#b1b1b1;
--stroke-gray-darkar:#b1b1b1;
--text-dark:#272727;
--custom-background-color-lo1pm-bg:#696969;
--phw-custom-backgroundsffffff:#ffffff;
--phw-g-placeholder-text-font-size:18px;
--cms-g-mobile-h2-thin:28px;
--phw-custom-purple-color001cffff:#001CFFFF;
--light-text:#5a5a5a;
--phw-g-cards-title-font-size:28px;
--phw-custom-bcg-x-blue008e99ff:#008E99FF;
--cms-g-phenomfont:phenom-font;
--cms-g-hendersonbcgsanslightitalic:HendersonBCGSans-LightItalic;
--custom-color-KuZNR:#d4d4d4;
--custom-background-color-9xOQo-bg:#0e3e1b;
--phw-custom-bcg-x-teal-100ffccff:#00FFCCFF;
--phw-custom-bcg-x-82f5f5-lighter:rgba(130, 245, 245, 0.36);
--widget-bg-gray-lighter:#d4d4d4;
--custom-background-color-TTAXQ-bg:#21bf61;
--phw-custom-000black000000ff:#000000FF;
--phw-custom-blog-buttonc1dbc8ff:#C1DBC8FF;
--phw-g-cards-subtitle-font-size:21px;
--phw-custom-backgrounds197a56:#197a56;
--widget-bg-gray-light:#f2f2f2;
--cms-g-mobile-h5-regular:18px;
--secondary-text:#4a4a4a;
--custom-color-lo1pm:#696969;
--input-bg:#ffffff;
--custom-background-color-4G2dK-bg:#f2f2f2;
--phw-g-widget-subheading-font-size:21px;
--body-font-size:18px;
--phw-custom-bcg-x-tealnan0ffcff:#NAN0FFCFF;
--phw-custom-light-grey-v1d4d4d4ff:#D4D4D4FF;
--custom-border-color-ABSwM-border:#197a56;
--widget-bg-white-color:#ffffff;
--stroke-gray-light:#f2f2f2;
--cms-g-platformfont:platform-font;
--cms-g-hendersonbcgmodhairline:HendersonBCGMod-Hairline;
--accessibility-outline-color:#000000;
--custom-border-color-4G2dK-border:#f2f2f2;
--phw-custom-bcg-x-purple4c24fbff:#4C24FBFF;
--phw-custom-medium-teal-bcg-x-00e0b5ff:#00E0B5FF;
--custom-border-color-lo1pm-border:#696969;
--body-bg:#ffffff;
--phw-custom-light-greyf2f2f2ff:#F2F2F2FF;
--font-size-8:14px;
--phw-g-hero-title-font-size:53px;
--custom-border-color-TTAXQ-border:#21bf61;
--phw-custom-footerbg262626ff:#262626FF;
--font-size-5:20px;
--custom-background-color-ABSwM-bg:#197a56;
--form-checkbox-stroke:#5a5a5a;
--text-gray-color:#e5e5e5;
--phw-custom-bcg-x_purple001cffff:#001CFFFF;
--phw-custom-black-border232326ff:#232326FF;
--custom-color-9xOQo:#0e3e1b;
--cms-g-hendersonbcgsansbold:HendersonBCGSans-Bold;
--widget-bg-gray-darkar:#b1b1b1;
--phw-custom-black000000ff:rgba(32,28,28,1);
--phw-g-small-text-font-size:18px;
--custom-border-color-Cogeb-border:#fff;
--phw-custom-green197a56ff:#F2F2F2FF;
--custom-background-color-cKXE9-bg:#dcf9e3;
--body-color:#0E3E1BFF;
--custom-background-color-aMrGp-bg:#424652;
--cms-g-mobile-p1-regular:18px;
--custom-color-ABSwM:#197a56;
--cms-g-hendersonbcgsansregular:HendersonBCGSans-Regular;
--phw-custom-menusubmenu575757ff:#575757FF;
--black:#424652FF;
--input-disabled-bg:#d4d4d4;
--visited-color:#681da8;
--custom-border-color-KuZNR-border:#d4d4d4;
--white:#ffffff;
--cms-g-hendersonbcgmodextrabolditalic:HendersonBCGMod-ExtraBoldItalic;
--phw-custom-border-colors5335a8:#5335a8;
--text-gray-light:#f2f2f2;
--phw-custom-bcg-x-black232326ff:#232326FF;
--phw-g-widget-title-font-size:32px;
--cms-g-trebuchetmsbold:TrebuchetMSBold;
--cms-g-hendersonbcgsansthinitalic:HendersonBCGSans-ThinItalic;
--phw-custom-dark-green0e3e1bff:#0E3E1BFF;
--link-color:#197a56;
--box-shadow-style-1:0px 4px 6px 0px rgba(69, 69, 69, 0.1);
--custom-border-color-aMrGp-border:#424652;
--alert-focus:#197A56FF;
--cms-g-hendersonbcgmodthin:HendersonBCGMod-Thin;
--brand-color-primary:#424652;
--custom-color-TTAXQ:#21bf61;
--phw-custom-hamburger4a4a4aff:#4A4A4AFF;
--cms-g-hendersonbcgmodthinitalic:HendersonBCGMod-ThinItalic;
--text-gray-darkar:#b1b1b1;
--phw-custom-white-bgffffffff:#FFFFFFFF;
--custom-color-4G2dK:#f2f2f2;
--phw-g-button-text-font-size:18px;
--cms-g-hendersonbcgsanslight:HendersonBCGSans-Light;
--phw-g-regular-text-font-size:18px;
--custom-background-color-wRNVm-bg:#b1b1b1;
--custom-border-color-9xOQo-border:#0e3e1b;
--link-hover-color:#424652FF;
--phw-custom-iesefe0000ff:#FE0000FF;
--custom-border-color-cKXE9-border:#dcf9e3;
--alert-error:#e74c3c;
--phw-custom-submenuheader-bg575757ff:#424652FF;
--phw-custom-light-grayf2f2f2ff:#F2F2F2FF;
--stroke-white:#FFFFFF;
--phw-custom-dark-green-background0e3e1bff:#0E3E1BFF;
--custom-color-cKXE9:#dcf9e3;
--phw-custom-teal-bcg-x00a887ff:#00A887FF;
--cms-g-mobile-h3-regular:24px;
--cms-g-mobile-p2-regular:16px;
--phw-custom-backgroundsf2f2f2:#f2f2f2;
--brand-color-secondary:#197A56FF;
--phw-g-large-text-font-size:21px;
--cms-g-mobile-h1:40px;
--cms-g-hendersonbcgmodhairlineitalic:HendersonBCGMod-HairlineItalic;
--cms-g-trebuchetmsregular:TrebuchetMSRegular;
--custom-background-color-Cogeb-bg:#fff;
--stroke-dark:#b1b1b1;
--custom-border-color-wRNVm-border:#b1b1b1;
--phw-custom-custom-grey-737373-737373ff:#737373FF;
--fyf-social-logout-text-color:#ffffff;
--input-place-holder-color:#000000;
--icon-dark:var(--brand-color-primary);
--input-stroke:#b1b1b1;
--phw-custom-black-text232326ff:#232326FF;
--cms-g-internalmobility:internalmobility;
--custom-background-color-KuZNR-bg:#d4d4d4;
--custom-color-aMrGp:#424652;
--phw-g-widget-title-huge-font-size:53px;
--icon-light:var(--white);
--widget-bg-gray-color:#e5e5e5;
--phw-custom-text-colors4e4e4e:#4e4e4e;
--accessibility-outline-style:solid;
--cms-g-hendersonbcgmoditalic:HendersonBCGMod-Italic;
--cms-g-hendersonbcgmodblackitalic:HendersonBCGMod-BlackItalic;
--phw-custom-backgroundsfff:#fff;
--cms-g-hendersonbcgmodlightitalic:HendersonBCGMod-LightItalic;
--cms-g-hendersonbcgmodbolditalic:HendersonBCGMod-BoldItalic;
--cms-g-mobile-h4-regular:22px;
--stroke-gray-lighter:#e5e5e5;
--text-dark-color-lighter:#666666;
--cms-g-hendersonbcgsansitalic:HendersonBCGSans-Italic;
--cms-g-mobile-h6-thin:16px;
--phw-custom-teal-background01e2c1ff:#01E2C1FF;
}
