@font-face {
src:url(https://assets.phenompeople.com/CareerConnectResources/prod/BCG1US/canvas/font/font-1737456389024.woff2) format('woff2');
font-weight:300;
font-display:swap;
font-family:'HendersonBCGMod-Thin';
font-style:normal;
}
@font-face {
src:url(https://assets.phenompeople.com/CareerConnectResources/prod/BCG1US/canvas/font/font-1737456393208.woff2) format('woff2');
font-weight:500;
font-display:swap;
font-family:'HendersonBCGSans-Regular';
font-style:normal;
}
@font-face {
src:url(https://assets.phenompeople.com/CareerConnectResources/prod/BCG1US/canvas/font/font-1737456393852.woff2) format('woff2');
font-weight:700;
font-display:swap;
font-family:'HendersonBCGSans-Bold';
font-style:normal;
}
@font-face {
src:url(https://assets.phenompeople.com/CareerConnectResources/prod/BCG1US/canvas/font/font-1737456385648.woff2) format('woff2');
font-weight:900;
font-display:swap;
font-family:'HendersonBCGMod-Black';
font-style:normal;
}
@font-face {
src:url(https://assets.phenompeople.com/CareerConnectResources/prod/BCG1US/canvas/font/font-1737456386952.woff2) format('woff2');
font-weight:800;
font-display:swap;
font-family:'HendersonBCGMod-ExtraBold';
font-style:normal;
}
@font-face {
src:url(https://assets.phenompeople.com/CareerConnectResources/prod/BCG1US/canvas/font/font-1737456389024.woff2) format('woff2');
font-weight:300;
font-display:swap;
font-family:'HendersonBCGMod-Thin';
font-style:normal;
}
@font-face {
src:url(https://assets.phenompeople.com/CareerConnectResources/prod/BCG1US/canvas/font/font-1737456390158.woff2) format('woff2');
font-weight:700;
font-display:swap;
font-family:'HendersonBCGSans-Bold_1';
font-style:normal;
}
@font-face {
src:url(https://assets.phenompeople.com/CareerConnectResources/prod/BCG1US/canvas/font/font-1737456391336.woff2) format('woff2');
font-weight:700;
font-display:swap;
font-family:'HendersonBCGMod-Bold';
font-style:normal;
}
@font-face {
src:url(https://assets.phenompeople.com/CareerConnectResources/prod/BCG1US/canvas/font/font-1737456391707.woff2) format('woff2');
font-weight:400;
font-display:swap;
font-family:'HendersonBCGMod-Light';
font-style:normal;
}
@font-face {
src:url(https://assets.phenompeople.com/CareerConnectResources/prod/BCG1US/canvas/font/font-1737456392077.woff2) format('woff2');
font-weight:500;
font-display:swap;
font-family:'HendersonBCGMod-Regular';
font-style:normal;
}
@font-face {
src:url(https://assets.phenompeople.com/CareerConnectResources/prod/BCG1US/canvas/font/font-1737456392764.woff2) format('woff2');
font-weight:400;
font-display:swap;
font-family:'HendersonBCGSans-Light_1';
font-style:normal;
}
@font-face {
src:url(https://assets.phenompeople.com/CareerConnectResources/prod/BCG1US/canvas/font/font-1737456393208.woff2) format('woff2');
font-weight:500;
font-display:swap;
font-family:'HendersonBCGSans-Regular';
font-style:normal;
}
@font-face {
src:url(https://assets.phenompeople.com/CareerConnectResources/prod/BCG1US/canvas/font/font-1737456393546.woff2) format('woff2');
font-weight:400;
font-display:swap;
font-family:'HendersonBCGSans-Light';
font-style:normal;
}
@font-face {
src:url(https://assets.phenompeople.com/CareerConnectResources/prod/BCG1US/canvas/font/font-1737456393852.woff2) format('woff2');
font-weight:700;
font-display:swap;
font-family:'HendersonBCGSans-Bold';
font-style:normal;
}
@font-face {
src:url(https://assets.phenompeople.com/CareerConnectResources/prod/BCG1US/canvas/font/font-1737456394998.woff2) format('woff2');
font-weight:400;
font-display:swap;
font-family:'phenom-font';
font-style:normal;
}
@font-face {
src:url(https://assets.phenompeople.com/CareerConnectResources/prod/BCG1US/canvas/font/font-1737456384550.woff2) format('woff2');
font-weight:400;
font-display:swap;
font-family:'platform-font';
font-style:normal;
}
@font-face {
src:url(https://assets.phenompeople.com/CareerConnectResources/prod/BCG1US/canvas/font/font-1737456385127.woff2) format('woff2');
font-weight:400;
font-display:swap;
font-family:'internalmobility';
font-style:normal;
}
@font-face {
src:url(https://assets.phenompeople.com/CareerConnectResources/prod/BCG1US/canvas/font/font-1737456386077.woff2) format('woff2');
font-weight:900;
font-display:swap;
font-family:'HendersonBCGMod-BlackItalic';
font-style:normal;
}
@font-face {
src:url(https://assets.phenompeople.com/CareerConnectResources/prod/BCG1US/canvas/font/font-1737456386482.woff2) format('woff2');
font-weight:700;
font-display:swap;
font-family:'HendersonBCGMod-BoldItalic';
font-style:normal;
}
@font-face {
src:url(https://assets.phenompeople.com/CareerConnectResources/prod/BCG1US/canvas/font/font-1737456387330.woff2) format('woff2');
font-weight:800;
font-display:swap;
font-family:'HendersonBCGMod-ExtraBoldItalic';
font-style:normal;
}
@font-face {
src:url(https://assets.phenompeople.com/CareerConnectResources/prod/BCG1US/canvas/font/font-1737456387879.woff2) format('woff2');
font-weight:250;
font-display:swap;
font-family:'HendersonBCGMod-HairlineItalic';
font-style:normal;
}
@font-face {
src:url(https://assets.phenompeople.com/CareerConnectResources/prod/BCG1US/canvas/font/font-1737456388256.woff2) format('woff2');
font-weight:500;
font-display:swap;
font-family:'HendersonBCGMod-Italic';
font-style:normal;
}
@font-face {
src:url(https://assets.phenompeople.com/CareerConnectResources/prod/BCG1US/canvas/font/font-1737456388611.woff2) format('woff2');
font-weight:400;
font-display:swap;
font-family:'HendersonBCGMod-LightItalic';
font-style:normal;
}
@font-face {
src:url(https://assets.phenompeople.com/CareerConnectResources/prod/BCG1US/canvas/font/font-1737456389416.woff2) format('woff2');
font-weight:300;
font-display:swap;
font-family:'HendersonBCGMod-ThinItalic';
font-style:normal;
}
@font-face {
src:url(https://assets.phenompeople.com/CareerConnectResources/prod/BCG1US/canvas/font/font-1737456389806.woff2) format('woff2');
font-weight:500;
font-display:swap;
font-family:'HendersonBCGSans-Italic';
font-style:normal;
}
@font-face {
src:url(https://assets.phenompeople.com/CareerConnectResources/prod/BCG1US/canvas/font/font-1737456390523.woff2) format('woff2');
font-weight:400;
font-display:swap;
font-family:'HendersonBCGSans-LightItalic';
font-style:normal;
}
@font-face {
src:url(https://assets.phenompeople.com/CareerConnectResources/prod/BCG1US/canvas/font/font-1737456392407.woff2) format('woff2');
font-weight:270;
font-display:swap;
font-family:'HendersonBCGMod-Hairline';
font-style:normal;
}
@font-face {
src:url(https://assets.phenompeople.com/CareerConnectResources/prod/BCG1US/canvas/font/font-1737456394286.woff2) format('woff2');
font-weight:700;
font-display:swap;
font-family:'TrebuchetMSBold';
font-style:normal;
}
@font-face {
src:url(https://assets.phenompeople.com/CareerConnectResources/prod/BCG1US/canvas/font/font-1737456393546.woff2) format('woff2');
font-weight:400;
font-display:swap;
font-family:'HendersonBCGSans-Light';
font-style:normal;
}
@font-face {
src:url(https://assets.phenompeople.com/CareerConnectResources/prod/BCG1US/canvas/font/font-1737456394616.woff2) format('woff2');
font-weight:400;
font-display:swap;
font-family:'TrebuchetMSRegular';
font-style:normal;
}
@font-face {
src:url(https://assets.phenompeople.com/CareerConnectResources/prod/BCG1US/canvas/font/font-1737456390898.woff2) format('woff2');
font-weight:300;
font-display:swap;
font-family:'HendersonBCGSans-ThinItalic';
font-style:normal;
}
